.section-add-input {

    .inputs {

        display: flex;
        gap: 16px;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            width: max-content;
            max-width: 417px;
            margin-inline: auto;
        }
        @media screen and (max-width: 768px) {
            max-width: 476px;
            width: 100%;
            margin-inline: auto;
        }
    }

    .inputs-text {

        display: flex;
        flex-direction: column;
        gap: 16px;

        .input-title,
        .input-description {

            border: 2px solid $gray-300;
            border-radius: 8px;

            &:hover {
                border-color: $red-300;
                transition: border-color 0.4s;
            }
        }

        .input-title {

            padding: 14px;
            width: 328px;

            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }

        .input-description {

            padding: 38px 14px 70px;
            width: 417px;

            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }

    .input-image-input {
        display: none;
    }

    .input-image-div {

        width: 288px;
        height: 212px;
        border: 2px solid $gray-300;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-bottom: 16px;
        position: relative;
        object-fit: contain;

        @media screen and (max-width: 768px) {
            margin-bottom: 0;
        }
        @media screen and (max-width: 321px) {
            width: 100%;
            height: 212px;
        }

        .image {

            width: 288px;
            height: 212px;
            z-index: -1;
            border-radius: 8px;
            object-fit: cover;
            display: none;

            @media screen and (max-width: 321px) {
                width: 100%;
                height: 212px;
            }
        }

        &:hover {
            border-color: $red-300;
            transition: border-color 0.4s;
        }

        p {
            position: absolute;
            text-align: center;
        }
    }

    .button-align {

        max-width: 721px;
        width: 100%;
        display: flex;
        justify-content: end;

        @media screen and (max-width: 768px) {
            width: 100%;
            max-width: 476px;
            justify-content: center;
        }
    }

    .button {

        padding: 16px 20px;
        border: 1px solid $red-300;
        background: $red-300;
        color: white;
        border-radius: 8px;
        font-weight: 700;
        line-height: 150%;

        @media screen and (max-width: 768px) {
            width: 100%;
            margin-top: 8px;
        }

        &:hover {
            border-color: $red-500;
            background: $red-500;
            transition: background 0.3s;
        }

        &:active {
            border-color: $red-100;
            background: $red-100;
            border-color: $red-100;
            background: $red-100;
        }
    }
}
