.list{

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 24px;
    width: max-content;

    @media screen and (max-width: 1280px){
        flex-direction: column;
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media screen and (max-width: 1024px){
        grid-template-columns: 1fr 1fr;
        margin-inline: auto;
    }
    @media screen and (max-width: 768px){
        gap: 24px;
    }
    @media screen and (max-width: 640px){
        grid-template-columns: 1fr;
        gap: 24px;
    }
    @media screen and (max-width: 510px){
        width: 100%;
    }

    .attraction{

        display: flex;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        max-width: max-content;

        @media screen and (max-width: 1280px){
            flex-direction: column;
        }
        @media screen and (max-width: 510px){
            width: 100%;
        }

        .attraction-image{

            width: 288px;
            height: 212px;
            object-fit: cover;
            border-radius: 8px;

            @media screen and (max-width: 768px){
                width: 100%;
                max-width: 425px;
            }
            @media screen and (max-width: 510px){
                max-width: 100%;
            }
        }

        .attraction-text{

            width: 288px;
            height: 212px;
            padding: 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media screen and (max-width: 640px){
                width: 100%;
                max-width: 425px;
                padding: 24px 51.5px;
            }
            @media screen and (max-width: 510px){
                max-width: 100%;
            }
            @media screen and (max-width: 375px){
                padding: 25px 30px;
            }

            h3{
                font-family: 'Poppins';
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                color: $gray-700;
                overflow: auto;
                height: 60px;
            }
            p{
                color: $gray-500;
                overflow: auto;
                height: 96px;
            }

            h3,
            p{
                &::-webkit-scrollbar {
                    width: 8px;
                }

                &::-webkit-scrollbar-track {
                    background: #cccccc;
                    border-radius: 14px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: white;
                    border-radius: 14px;
                    border: 2px solid #cccccc;
                }
            }
        }
    }
}
