.section-add-input,
.section-list{
        margin-inline: auto;
        max-width: 1176px;
        width: 100%;
        @media screen and (max-width: 1280px){
            max-width: 1024px;
            width: max-content;
        }
        @media screen and (max-width: 510px){
            padding: 0 16px;
        }

}

.section-add-input{
    margin-top: 48px;
    @media screen and (max-width: 1280px){
        width: 912px;
    }
    @media screen and (max-width: 1024px){
        width: max-content;
    }
    @media screen and (max-width: 510px){
        width: 100%;
        margin-top: 16px;
    }
}

.section-list{
    margin-top: 60px;
    margin-bottom: 190px;

    @media screen and (max-width: 1280px){
        width: 100%;
        max-width: 912px;
    }
    @media screen and (max-width: 1024px){
        max-width: 721px;
    }
    @media screen and (max-width: 768px){
        width: max-content;
        margin-top: 68px;
        margin-bottom: 34px;
    }
    @media screen and (max-width: 510px){
        width: 100%;
        max-width: 425px;
        margin-top: 68px;
        margin-bottom: 34px;
    }


    h2{
        @media screen and (max-width: 768px){
            width: 600px;
        }
        @media screen and (max-width: 640px){
            width: 100%;
        }
    }
}
