body,
input,
button{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $gray-500;
}

body{
    &::-webkit-scrollbar {
        width: 14px;
    }

    &::-webkit-scrollbar-track {
        background: #cccccc;
    }
    &::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 6px;
        border: 3px solid #cccccc;
    }
}


h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    color: black;
    margin-bottom: 32px;
}

button{
  cursor: pointer;
}